.app-title {
  color: #a40000;
  font-size: 20px;
  font-weight: 600;
  margin: 16px 0;
}

.mat-nav-list {
  padding: 0;
}

/* Menu items */
.mat-list-item {
  font-weight: 500;
  color: #555;
  height: 48px;
  border-radius: 8px;
  margin: 4px 8px;
}

.menu-icon {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

/* Hover effect */
.mat-list-item:hover {
  background-color: #f5f5f5;
  color: #333;
}

/* Active menu item */
.mat-list-item.active {
  color: #a24424;
  font-weight: 600;
  background-color: #fdf4f2;
}

.mat-list-item.active img {
  filter: brightness(0) saturate(100%) invert(31%) sepia(60%) saturate(456%)
    hue-rotate(339deg) brightness(96%) contrast(95%);
}
